@import '../core/variables';
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: $brownishGrey;
  font-family: $fontText;
  line-height: 3;
  border-top: 1px solid $lightGrey;
  &__copy {
    width: 205px;
    height: 20px;
    margin: 18px 12px;
  }
  &__logo {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $whiteTwo;
    position: relative;
    bottom: 0;
    &__copy {
      margin: 15px 40px 22px;
    }
    &__logo {
      margin: 15px 40px 10px;
    }
  }
}
