@import '../core/variables';

.awesome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 79px 30px 40px;

  @media (min-width: $tablet) {
    padding-right: 0;
    justify-content: flex-start;
  }

  &__container {
    width: 200px;
    height: 50px;

    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
  }
}
