$white: #d5d5d5;
$whiteTwo: #ffffff;
$whiteFour: #f5f5f5;
$paleGrey: #dde9ed;
$lightGrey: #d8d8d8;
$silver: #bfcdd0;
$grey: #c5c5c5;
$gunMetal: #54585a;
$brownishGrey: #6b6b6b;
$slate: #3e5b65;
$lightGreyBlue: #a0c0cf;
$azure: #00a0f5;
$dirtyBlue: #438792;
$hospitalGreen: #a2deaf;
$darkGreenBlue: #114e4e;
$fadedOrange: #eab052;
$dullOrange: #e17334;
$tomato: #e95626;
$rustyRed: #bd1010;
$driedBlood: #420101;

// para ambas:
$colorSections: $gunMetal;
$backgroundColor: gradient(to bottom, $whiteFour, $whiteTwo);

// land
$colorMainTitle: $dullOrange;
$startButton: $dirtyBlue;

// card
$colorIcons: $dullOrange;
$colorInputForm: $hospitalGreen;
$colorPlaceholders: $grey;
$colorAddImageButton: $dullOrange;
$cardSectionColor: gradient(to bottom, $silver, $paleGrey);
$shareBtnColor: $white;
$shareLinkColor: $dullOrange;
$twitterBtnColor: $azure;

// fonts
$fontTitle: "Merriweather", serif;
$fontText: "Open Sans", sans-serif;
$fontBtn: "Open Sans", sans-serif;
$montserratFont: "Montserrat", sans-serif;

// size
$tablet: 768px;
$desktop: 1024px;
