.mainCard {
  width: 100%;
  background: linear-gradient($whiteFour, $whiteTwo 9%);
  padding-top: 23px;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    // height: 70vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .section1 {
    width: 100%;
    background: linear-gradient($silver, $paleGrey);
    border-radius: 3px;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet) {
      height: 100vh;
      margin-right: 40px;
      justify-content: center;
      margin-left: 30px;
    }

    &__reset {
      grid-column: 2/3;
      background-color: $silver;
      border: 1px solid $whiteTwo;
      color: $gunMetal;
      height: 30px;
      width: 75px;
      line-height: 20px;
      border-radius: 22.5px;
      font-size: 12px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;

      &--text {
        text-transform: uppercase;
      }
    }
  }

  .card {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 65px 1fr 45px;
    background-color: $whiteTwo;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
    width: 240px;
    height: 330px;
    padding: 10px 0;

    &__rectangle {
      grid-column: 1/2;
      position: relative;
      margin-top: 13px;
      width: 5px;
      height: 42px;
      background-color: $dirtyBlue;
    }
    &__user--userName {
      margin-top: 10px;
      margin-bottom: 4px;
      grid-column: 2/3;
      text-align: left;
      font-family: $montserratFont;
      font-size: 18px;
      color: $slate;
    }

    &__user--job {
      margin-bottom: 10px;
      grid-column: 2/3;
      text-align: left;
      font-family: $montserratFont;
      font-size: 16px;
      color: $gunMetal;
    }
    &__img {
      grid-column: 1/4;
      background-image: url("../images/fondo.jpg");
      background-position: top center;
      background-size: cover;
      background-color: $whiteTwo;
      width: 240px;
      height: 200px;
    }
    &__bar {
      grid-column: 2/3;
      display: flex;
      list-style-type: none;
      margin-top: 10px;

      &--icons {
        display: flex;
        justify-content: center;
        background-color: $whiteTwo;
        width: 32px;
        height: 32px;
        border: solid 2px $hospitalGreen;
        border-radius: 50%;
        padding: 5px;
        margin-right: 10px;

        a {
          color: $darkGreenBlue;
        }
      }
    }
  }

  // // Change color name title js

  //Color palettes icons js
  .colorDefault {
    color: $darkGreenBlue;

    .card__rectangle {
      background-color: $dirtyBlue;
    }

    .card__bar--icons {
      border: solid 2px $hospitalGreen;
    }
  }

  .colorChoice2 {
    color: $driedBlood;

    .card__rectangle {
      background-color: $rustyRed;
    }
    .card__bar--icons {
      border: solid 2px $tomato;
    }
  }

  .colorChoice3 {
    color: $dirtyBlue;

    .card__rectangle {
      background-color: $fadedOrange;
    }

    .card__bar--icons {
      border: solid 2px $lightGreyBlue;
    }
  }

  // SECTION 2

  .section2-wrapper {
    padding: 17px 20px 30px 20px;
    width: 100%;
    @media (min-width: $tablet) {
      padding-right: 0px;
      padding-left: 40px;
      width: 100%;
    }
    @media (min-width: $desktop) {
      width: 60%;
    }
  }

  /* form */

  .fieldsetContainer {
    border-bottom: 1px solid $lightGrey;
    padding-bottom: 30px;
  }

  .titleContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    &__titleItem {
      display: flex;
      align-items: center;
      &--title {
        text-transform: uppercase;
        font-family: $fontText;
        font-size: 18px;
        color: $gunMetal;
        padding-left: 10px;
      }
      &--icon {
        cursor: pointer;
        transition: transform 0.5s ease, color 1s ease;
        &:hover {
          transform: scale(1.2);
          color: $dullOrange;
        }
      }
    }
  }

  /* Design Fieldset */
  .designContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    font-family: $fontText;
    text-transform: uppercase;
    color: $gunMetal;

    &__choosePalette {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      &--palette {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
      }
    }
  }

  .inputRadio {
    margin-right: 10px;
  }

  .color {
    width: 30px;
    height: 25px;
  }

  // Palette 1: colors
  .color-darkGreen {
    background-color: $darkGreenBlue;
  }
  .color-blue {
    background-color: $dirtyBlue;
  }
  .color-green {
    background-color: $hospitalGreen;
  }

  // Palette 2: colors
  .color-darkRed {
    background-color: $driedBlood;
  }
  .color-red {
    background-color: $rustyRed;
  }
  .color-tomato {
    background-color: $tomato;
  }

  // Palette 3: colors
  .color-slate {
    background-color: $slate;
  }
  .color-orange {
    background-color: $fadedOrange;
    :hover {
      background-color: $lightGreyBlue;
      color: $fadedOrange;
    }
  }
  .color-lightBlue {
    background-color: $lightGreyBlue;
  }

  /* Compleat Fieldset */
  .labelsWrapper {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .label {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &__jobLabel {
      margin-bottom: 18px;
    }

    &__imgLabel--container {
      width: 100%;
      padding-top: 7px;
      display: flex;
    }
  }

  .imgLabel-btn {
    width: 140px;
    height: 30px;
    margin-right: 15px;
    background-color: $colorAddImageButton;
    color: $whiteTwo;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .imgLabel-div {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    border: 1px solid $colorInputForm;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .completeFieldset-input {
    width: 100%;
    height: 30px;
    margin-top: 7px;
    border: 1px solid $colorInputForm;
    padding: 3px 0 7px 9px;
    &::placeholder {
      color: $colorPlaceholders;
    }
  }

  /* Share Fieldset */
  .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    &__share-btn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 199px;
      height: 50px;
      padding: 10px;

      color: $whiteTwo;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      border-radius: 12px;
      margin-top: 30px;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);

      &--icon {
        color: $whiteTwo;
        padding-right: 9px;
      }

      &--text {
        color: $whiteTwo;
      }
    }
  }

  .link {
    text-decoration: none;
  }

  .shareSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid $lightGrey;
    margin-top: 30px;
    &__paragraph {
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
    &__link-share {
      text-align: center;
      padding-top: 5px;
      color: $shareLinkColor;
      font-size: 12px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
    }
    &__link-shareTwitter {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 181px;
      height: 30px;
      background-color: $twitterBtnColor;
      color: $whiteTwo;
      padding: 3px 9px 6px 10.5px;
      border-radius: 3px;
      margin-top: 10px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);

      .fa-twitter {
        color: $whiteTwo;
        padding-right: 9.5px;
      }
    }
  }
}
/* JS */
.collapsed .designContainer,
.collapsed .labelsWrapper,
.collapsed .shareContainer {
  display: none !important;
}
.hidden {
  display: none !important;
}
.rotateArrow {
  transform: rotate(180deg);
}

.createBtnColor1 {
  background-color: $shareLinkColor;
}

.createBtnColor2 {
  background-color: $shareBtnColor;
}

//input seleccionar imagen
#photo {
  display: none;
}

.js-hiddenMessage {
  display: none;
}

.js-message {
  display: flex;
  align-items: center;
  color: $tomato;
  margin-left: 30px;
  margin-top: 35px;
  border-radius: 12px;
  border: 2px solid $tomato;
  padding: 5px;
  text-align: center;

  @media (min-width: $tablet) {
    color: $tomato;
    margin-left: 50px;
    margin-top: 25px;
    border-radius: 12px;
    border: 2px solid $tomato;
    padding: 15px;
    text-align: center;
  }
}
